<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^content /error404
RewriteRule ^pages /error404
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
