body {
  font-size: 18px;
  color: #000;
}

a {
  text-decoration: none;
}

#navigation, #meta, #credits {
  display: none;
}

#content {
  width: 100%;
  padding: 0;
}

#content.resume h2 {
  display: none;
}

#content.resume dl dt {
  width: 200px;
  line-height: 24px;
}

#content.resume dl dd {
  margin-left: 200px;
  line-height: 24px;
}

#content.resume dl#education dd ul.courses, #content.resume dl#education dd ul.courses li {
  display: inline;
}

#content.resume dl#education dd ul.courses li .link {
  display: none;
}

#content.resume dl#education dd ul.courses li::after {
  content: ",";
}

#content.resume dl#education dd ul.courses li:last-child::after {
  content: "";
}
