* {
  margin: 0;
  padding: 0;
}

pre, code {
  background-color: #f8f8ff;
  border: 1px solid #ddd;
  color: #444;
}

pre {
  padding: 5px;
  margin: 5px 0;
}

code {
  padding: 2px;
}

pre code {
  border: 0;
  padding: 0;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #fff;
  background-image: url(images/bg.png);
  background-repeat: repeat-x;
  font-family: arial;
  font-size: 13px;
  word-spacing: 1px;
}

#meta {
  height: 335px;
  background-image: url(images/logo.png);
  background-position: 0 25px;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}

#meta #title {
  display: none;
}

#meta #tagline {
  width: 207px;
  position: absolute;
  top: 36px;
  left: 436px;
  text-align: justify;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px 1px #1892b4;
}

#meta #about {
  width: 500px;
  margin-top: 200px;
  background-color: #1892b4;
  color: #fff;
  line-height: 18px;
  padding: 7px 10px;
  float: left;
  text-align: justify;
}

#meta #about p {
  margin: 5px 0px;
}

#meta #about p:first-child {
  margin-top: 0px;
}

#meta #about p:last-child {
  margin-bottom: 0px;
}

#meta #about p a {
  color: #fff;
}

#content {
  width: 600px;
  float: left;
  color: #5e5e5e;
  padding: 10px 0;
}

#content h2 {
  color: #000;
  font-size: 36px;
  margin-bottom: 15px;
}

#content h3 {
  color: #444;
  font-size: 24px;
}

#content h3 a {
  color: #444;
  text-decoration: none;
}

#content a {
  color: #000;
}

#content a:hover {
  color: #1ec742;
}

#content.blog ul#entries li.entry {
  list-style: none;
  padding: 30px 0 10px;
}

#content.blog ul#entries li.entry:first-child {
  padding-top: 0px;
}

#content.blog .entry .posted_at {
  display: block;
  font-size: 12px;
  color: #5e5e5e;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid #f2f2f2;
}

#content.blog .entry .body {
  line-height: 18px;
}

#content.projects ul#projects li.project {
  list-style: none;
  padding-top: 20px;
}

#content.projects ul#projects li.project:first-child {
  padding-top: 0px;
}

#content.projects .project p {
  line-height: 18px;
}

#content.contributions ul {
  padding-left: 15px;
  line-height: 18px;
}

#content.resume h3 {
  margin: 17px 0 3px;
}

#content.resume dl dt {
  float: left;
  clear: left;
  width: 150px;
  padding: 5px 0;
  border-right: 1px solid #f2f2f2;
  line-height: 19px;
}

#content.resume dl dd {
  margin-left: 150px;
  padding: 5px 0 5px 5px;
  border-left: 1px solid #f2f2f2;
  line-height: 19px;
}

#content.resume dl dd ul {
  list-style-position: inside;
  padding-left: 5px;
}

#navigation {
  width: 180px;
  float: right;
  padding-bottom: 20px;
}

#navigation ul {
  padding-top: 20px;
}

#navigation ul li {
  list-style: none;
}

#navigation a {
  font-size: 15px;
  padding: 5px;
  line-height: 32px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#navigation a.current, #navigation a:hover {
  background-color: #1ec742;
}

#credits {
  display: block;
  clear: both;
  padding: 15px;
  background-color: #19a0c5;
  color: #fff;
}

#credits a {
  color: #fff;
}
